@charset "utf-8";
/* CSS Document */

body {
  /* Location of the image */
  background-image: url("Background Images/accountSettingsBg.jpg");
  
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading */
  background-color: #464646;
	
}




h2 {
    font-family:"Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 40px;
	background-color:#9C9C9C;
	padding-right: 45px;
	padding-bottom: 20px;
	align-content: center;
	text-align: center;
}

* {box-sizing:border-box}

  form {
    display: block;
    width: 100%;
    padding: 2em;

  }

input{
    display: block;
    margin: auto auto;
    width: 100%;
    margin-bottom: 2em;
    padding: .5em 0;
    border: none;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 1.25em;
    color: #757575;
	outline: none;
}

  
.delete-form {
  width: 40%;
  min-width: 320px;
  max-width: 475px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 25px;
-webkit-transform: translate(-50%,-50%);
-moz-transform: translate(-50%,-50%);
-o-transform: translate(-50%,-50%);
-ms-transform: translate(-50%,-50%);
transform: translate(-50%,-50%);
}

.txtresetB {
  width: 100px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #AF09CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.txtresetB:hover 
{
  background:#00FF8F;
}


.deleteBtn {
  width: 200px;
  height: 36px;
  border: 1px solid #00B4CC;
  background:#FF0004;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.deleteBtn:hover 
{
  background:#00FF8F;
}
